.lc-wpmethods-chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.lc-wpmethods-chat-toggle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 28px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    outline: none;
}

.lc-wpmethods-chat-toggle i {
    pointer-events: none;
}

.lc-wpmethods-chat-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 12px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    transform: translateY(20px);
}

.lc-wpmethods-chat-container.lc-wpmethods-open .lc-wpmethods-chat-options {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.lc-wpmethods-chat-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, background 0.3s ease;
    position: relative;
    outline: none;
    color: #000;
    text-decoration: none;
    background: #fff;
}

.lc-wpmethods-chat-btn:hover {
    transform: scale(1.1); 
}

.lc-wpmethods-pulse {
    animation: lc-wpmethods-pulse 2s infinite;
}

.lc-wpmethods-chat-container:hover .lc-wpmethods-pulse {
    animation: none;
}




@media (max-width: 480px) {
    .lc-wpmethods-chat-toggle {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }

    .lc-wpmethods-chat-btn {
        width: 40px;
        height: 40px;
    }

    .lc-wpmethods-chat-btn i {
        font-size: 20px;
    }

    .lc-wpmethods-chat-btn .lc-wpmethods-tooltip {
        display: none;
    }
}