.wpmesoch-chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.wpmesoch-chat-toggle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 28px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    outline: none;
}

.wpmesoch-chat-toggle i {
    pointer-events: none;
}

.wpmesoch-chat-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 12px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    transform: translateY(20px);
}

.wpmesoch-chat-container.wpmesoch-open .wpmesoch-chat-options {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

[type=button].wpmesoch-chat-btn {
    border-radius: 50% !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, background 0.3s ease;
    position: relative;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
    cursor: pointer;
}

[type=button].wpmesoch-chat-btn:hover {
    transform: scale(1.1); 
}

.wpmesoch-pulse {
    animation: wpmesoch-pulse 2s infinite;
}

.wpmesoch-chat-container:hover .wpmesoch-pulse {
    animation: none;
}

.sfiw-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    position: relative;
}


.label-sfiw {
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 8px 15px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
}


.sfiw-icons:hover .label-sfiw {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) translateX(0);
}

.sfiw-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #02ed78;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



@media (max-width: 480px) {
    .wpmesoch-chat-toggle {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }

    .wpmesoch-chat-btn {
        width: 40px;
        height: 40px;
    }

    .wpmesoch-chat-btn i {
        font-size: 20px;
    }

}